* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

.warning {
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 5px;
}
.bonus {
  border-top: 2px solid rgb(188, 238, 9);
  border-bottom: 2px solid rgb(188, 238, 9);
}
.bonus strong {
  padding: 3px;
  margin-right: 5px;
  background-color: rgb(188, 238, 9);
  border-radius: 5px;
}
.bonus span {
  display: block;
  margin: 10px 0;
}

.yellow {
  background-color: #fdda9c;
  border-left: 5px solid brown;
}
.yellow span {
  display: block;
}
.red {
  background-color: #ffe1e3;
  border-left: 5px solid red;
}
.green {
  background-color: #c5f7d0;
  border-left: 5px solid rgb(12, 97, 5);
}
img {
  height: 150px;
}
.line {
  width: 600px;
  height: 100px;
}
.color {
  width: 100px;
  height: 100px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  font-weight: bold;
}

.first {
  background-color: #007bff;
}

.second {
  background-color: #00cc99;
}

.third {
  background-color: #ff9933;
}

.fourth {
  background-color: #ff66b3;
}

.fifth {
  background-color: #6600cc;
}

.sixth {
  background-color: #0099cc;
}

/* Aquí tu css */
.menu {
  list-style-type: none;
  color: white;
  background-color: blue;
  text-align: center;
  font-size: 13px;
  padding: 7px;
}

.menu:hover {
  color: black;
  background-color: white;
}

.important {
  width: 200px;
  margin: 10px;
  display: inline-block;
  text-align: center;
}

h2 {
  color: red;
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .squares {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .squares {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .color {
    margin: 8px;
    height: 70px;
    width: 70px;
  }
}
